
# emacs temp files
*~
.out
.emacs
.cm/
*/.cm/
/.emacs.desktop
/.#.emacs.desktop
/format-lib/#string-printf.sig#
/format-lib/.#string-printf.sig
/#.emacs.desktop#
/.#point.sml
*.txt
*#*
/printout/all.pdf
/printout/cluster.sml.aux
/printout/cluster.sml.log
/printout/cluster.sml.pdf
/printout/cluster.sml.tex
/printout/commonUtil.sml.aux
/printout/commonUtil.sml.log
/printout/commonUtil.sml.pdf
/printout/commonUtil.sml.tex
/printout/kmeans.sml.aux
/printout/kmeans.sml.log
/printout/kmeans.sml.pdf
/printout/kmeans.sml.tex
/printout/normal.sml.aux
/printout/normal.sml.log
/printout/normal.sml.pdf
/printout/normal.sml.tex
/printout/point.sml.aux
/printout/point.sml.log
/printout/point.sml.pdf
/printout/point.sml.tex
